services:
  mongodb:
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=mongopw
    ports:
      - "27018:27017"
    volumes:
      - mongodata:/data/db

  rabbitmq:
    image: "rabbitmq:3-management-alpine"
    ports:
       - "5672:5672"
       - "15672:15672"
volumes:
  mongodata: